<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="~/css/game-style.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/gameJs.js"></script>

</body>
</html>